<!DOCTYPE html>
<html>
<head>
	<title>{{setting.appname}} قوانین و مقررات - </title>
	<link href="{{asset("css/style-fa.css")}}" rel="stylesheet"/>
	<style type="text/css">body,* {text-align:justify; direction:rtl; font-size: 14px;line-height:1.9}</style>
</head>
<body style="padding:10px">
{{setting.privacypolicy|raw}}
</body>
</html>
